<!DOCTYPE html>
<html lang="en">
<head>
    <title>DelegateIt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body data-ng-app="app" data-ng-controller="mainCtrl">
    <div data-ng-show="getApiMode() != 'production'" class="test-mode ng-cloak">
        {{getApiMode()}} mode
    </div>
    <div class="container" style="padding-top:20px">
        <nav data-ng-controller="navCtrl" class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">DelegateIt</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav ng-cloak">
                    <li data-ng-class="{'active': isActive('/transaction/')}">
                        <a href="#/transactions/">Transactions</a>
                    </li>
                </ul>
                <ul data-ng-controller="loginCtrl" data-ng-hide="!isLoggedIn()" class="nav navbar-nav navbar-right ng-cloak">
                    <li class="navbar-text" style="margin-left:10px">Hello, {{getDelegatorName()}}</li>
                    <li style="margin-left:10px">
                        <button data-ng-click="logout()" type="button" class="logout-btn btn btn-default navbar-btn">Logout</button>
                    </li>
                </ul>
            </div>
        </nav>
        <noscript>
            <div class="alert alert-danger" style="text-align:center;">
                Please turn on javascript to view this website
            </div>
        </noscript>
        <div data-ng-controller="alertCtrl">
            <div data-ng-repeat="msg in alerts track by $index" class="alert alert-danger fade in ng-cloak">
                {{msg}}
                <button data-ng-click="remove($index)" type="button" class="close"><span>&times;</span></button>
            </div>
        </div>
        <div data-ng-view>
        </div>
    </div>
    <script src="/js/lib/jquery-2.1.4.min.js"></script>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-cookies.min.js"></script>
    <script src="/js/lib/angular-route.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/autosize.min.js"></script>
    <script src="/js/lib/socket.io-1.3.7.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/apiclient.js"></script>
    <script src="/js/transaction.js"></script>
    <script src="/js/customer.js"></script>
    <script src="/js/delegator.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>

