<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Customers</div>
            <table class="table">
                <tbody>
                    <tr data-ng-repeat="c in customerList" data-ng-class="{'info': c.id == selected.id}">
                        <td><a href="#/customer/{{c.id}}">{{c.firstName + " " + c.lastName}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                Messages
            </div>
            <div class="panel-body">
                <div data-ng-repeat="msg in messageList">
                    <div
                            data-ng-class="{
                                'msg-sent': !msg.fromCustomer,
                                'msg-recv': msg.fromCustomer
                            }"
                            class="well well-sm msg">
                        {{msg.message}}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <form data-ng-submit="sendMessage()">
                <div class="input-group">
                    <input data-ng-model="sendMessageText" type="text" class="form-control" placeholder="Send a message">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Send</button>
                    </span>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Receipt</div>
            <table class="table">
                <tbody>
                    <tr data-ng-repeat="item in selected.getActiveReceipt().items">
                        <td>{{item.name}}</td>
                        <td>${{item.cost}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <button class="btn btn-success" type="button" data-toggle="modal" data-target="#EditReceiptModal">Edit</button>
                <button data-ng-disabled="!selected.getActiveReceipt().canFinalize()" class="btn btn-warning pull-right" type="button">Finalize</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditReceiptModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Receipt</h4>
            </div>
            <div class="modal-body">
                <p>Nothing here yet</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
