<div class="row" data-ng-show="selectedDelegator === null">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Delegator List</h4></div>
            <table class="table">
                <thead>
                    <th>Delegator's Name</th>
                </thead>
                <tbody>
                    <tr data-ng-repeat="(dId, delegator) in getDelegators()">
                        <td><a href="#/delegator/{{dId}}">{{delegator.name}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div data-ng-hide="selectedDelegator === null" class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{selectedDelegator.name}}'s Delegator Profile</h4></div>
            <div class="panel-body">
                <div>
                    <label>Name </label> <span class="indent">{{selectedDelegator.name}}</span>
                </div>
                <div>
                    <label>Phone number </label> <span class="indent">{{selectedDelegator.phone}}</span>
                </div>
                <div>
                    <label>Email </label> <span class="indent">{{selectedDelegator.email}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-hide="selectedDelegator === null" class="row" data-ng-controller="transactionListCtrl">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{selectedDelegator.name}}'s Orders</h4></div>
            <table class="table">
                <tr>
                    <th class="text-muted">Date</th>
                    <th class="text-muted">Customer</th>
                    <th class="text-muted text-centered">Order</th>
                </tr>
                <tr data-ng-repeat="(tId, t) in transactions" data-ng-show="t.delegatorId == selectedDelegator.id">
                    <td>{{getDate(tId)}}</td>
                    <td><a href="#/customer/{{getCustomer(tId).id}}">{{getCustomer(tId).name}}</a></td>
                    <td class="text-center">
                        <a href="#/transaction/{{tId}}">
                            {{getTitle(tId)}}
                                <span data-ng-show="isActiveOrder(tId)" class="badge pull-right">
                                    Active
                                </span>
                            </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
