<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Customers</div>
            <table class="table">
                <tbody>
                    <tr
                            data-ng-repeat="(tId, t) in getTransactions()"
                            data-ng-class="{'info': t.id == selected.id}"
                            data-ng-hide="t.state === 'completed'">
                        <td><a href="#/transaction/{{t.id}}">{{t.customer.firstName + " " + t.customer.lastName}}</a></td>
                    </tr>
                </tbody>
            </table>
            <!--<div class="panel-footer">
                <p class="ng-cloak">There are {{getUnhelpedCustomerCount()}} unhelped customers</p>
                <button data-ng-disabled="getUnhelpedCustomerCount() === 0" data-ng-click="addCustomer()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"></span> Add customer</button>
            </div>-->
        </div>
    </div>
    <div class="col-md-7" data-ng-hide="selected === null">
        <div class="panel panel-default">
            <div class="panel-heading">
                Messages
            </div>
            <div class="panel-body" style="max-height:500px; overflow-y:scroll">
                <div data-ng-repeat="msg in selected.messages">
                    <div
                            data-ng-class="{
                                'msg-sent': !msg.fromCustomer,
                                'msg-recv': msg.fromCustomer
                            }"
                            class="well well-sm msg">
                        <div data-ng-repeat="line in msg.content.split('\n')">{{line}}</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <form data-ng-submit="sendMessage()">
                <div class="input-group">
                    <input data-ng-model="sendMessageText" type="text" class="form-control" placeholder="Send a message">
                    <span class="input-group-btn">
                        <button data-ng-disabled="selected.state === 'completed'" class="btn btn-default" type="submit">Send</button>
                    </span>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3" data-ng-hide="selected === null">
        <div class="panel panel-default">
            <div class="panel-heading">Receipt</div>
            <table class="table">
                <tbody>
                    <tr data-ng-repeat="item in getReceipt().items">
                        <td>{{item.name}}</td>
                        <td>${{item.cost}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-body" data-ng-hide="getReceipt().notes == ''">
                <div>
                    <label>Notes</label>
                    <pre style="word-wrap:normal">{{getReceipt().notes}}</pre>
                </div>
                <div><label>Total:</label> ${{getReceipt().getTotal()|number:2}}</div>
            </div>
            <div class="panel-footer">
                <button data-ng-disabled="!canEdit()" class="btn btn-success" type="button" data-toggle="modal" data-target="#EditReceiptModal"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                <div class="btn-group pull-right">
                    <button data-ng-disabled="!canFinalize()" class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                        Finalize <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href data-ng-click="finalizeReceipt()">Are you sure? Yes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" data-ng-controller="tranStatCtrl" data-ng-hide="selected === null">
        <div class="panel panel-default">
            <div class="panel-heading">Transaction</div>
            <div class="panel-body">
                <div class="dropdown">
                    <label>State </label>
                    <button class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown">
                        {{selected.state}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li data-ng-repeat="state in getStates()">
                            <a href data-ng-click="setState(state)">{{state}}</a>
                        </li>
                    </ul>
                </div>
                <div style="padding-bottom: 10px">
                </div>
                <div class="dropdown">
                    <label>Assigned </label>
                    <button class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown">
                        {{getLoggedInDelegator().name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li data-ng-repeat="dlg in getDelegators()">
                            <a href data-ng-click="reassign(dlg.id)">{{dlg.name}}</a>
                        </li>
                    </ul>
                </div>
                <div style="padding-bottom: 10px">
                </div>
                <div>
                    <label>Paid </label><span class="pull-right">{{isPaidFor()}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditReceiptModal">
    <div class="modal-dialog">
        <div data-ng-controller="receiptModCtrl" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Receipt</h4>
            </div>
            <div class="modal-body">
                <div data-ng-repeat="item in getReceipt().items" data-ng-controller="receiptItemCtrl" class="form-inline" style="padding-bottom: 10px">
                    <div class="input-group">
                        <span class="input-group-addon">Item name</span>
                        <input data-ng-model="itemName" data-ng-change="onNameChange()" type="text" class="form-control" value="{{item.name}}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input data-ng-model="itemCost" data-ng-change="onCostChange()" type="text" class="form-control" value="{{item.cost}}" style="width:100px">
                    </div>
                    <div class="input-group">
                        <button data-ng-click="deleteItem($index)" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
                <div>
                    <span class="padded"><label>Total:</label> ${{getReceipt().getTotal()|number:2}}</span>
                    <button data-ng-click="addItem()" class="btn btn-success" type="button"><span class="glyphicon glyphicon-plus"></span> Add</button>
                </div>
                <div class="input-group" style="padding-top:30px">
                    <span class="input-group-addon">Notes</span>
                    <textarea data-ng-model="getReceipt().notes" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
