<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Active Orders</div>
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="active-tab">
                        <ul class="nav nav-pills nav-stacked">
                            <li data-ng-show="isCustomerListEmpty()" class="text-muted">No customers</li>
                            <li
                                    data-ng-repeat="(tId, t) in getTransactions()"
                                    data-ng-class="{'active': t.id == selected.id}"
                                    data-ng-show="isTransactionActive(t)">
                                <a data-ng-href="#/transaction/{{t.id}}">{{getCustomerName(t.customerId)}}</a>
                            </li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="past-tab">
                        Nothing here yet
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div data-ng-controller="addCustomerCtrl">
                    <button data-ng-click="addCustomer()" id="addCustomerBtn" data-loading-text="Adding..." class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-plus"></span> Add customer
                    </button>
                </div>
                <div class="text-center padded" style="margin-bottom:auto">
                    <a href="#/delegator/{{getLoggedInDelegator().id}}">View all orders</a>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-show="selected === null" class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-body text-muted text-center">
                Click on a customer to view their messages
            </div>
        </div>
    </div>
    <div data-ng-hide="selected === null" class="col-md-10">
        <h3>{{getCustomer().name}}</h3>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href data-target="#messages-tab" role="tab" data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href data-target="#info-tab" role="tab" data-toggle="tab">Customer Info</a></li>
        </ul>
        <div class="tab-content">
            <div data-ng-controller="messageCtrl" role="tabpanel" class="tab-pane fade in active" id="messages-tab">
                <div class="panel panel-default tabbed-panel">
                    <div class="panel-body" style="max-height:500px; overflow-y:scroll">
                        <div data-ng-repeat="msg in selected.messages" class="clearfix">
                            <div
                                    data-ng-class="{
                                        'msg-sent': !msg.fromCustomer,
                                        'msg-recv': msg.fromCustomer
                                    }" style="margin-bottom:10px">
                                <div class="well well-sm" data-ng-class="{'msg-sent-style': !msg.fromCustomer}" style="margin-bottom: 0px">
                                    <div data-ng-repeat="line in msg.content.split('\n') track by $index">{{line}}</div>
                                </div>
                                <div class="text-muted">{{toDateString(msg.timestamp)}}</div>
                            </div>
                        </div>
                        <div>
                            <div data-ng-hide="tmpMessageText === ''" class="msg-sent well well-sm">
                                <div data-ng-repeat="tline in tmpMessageText.split('\n')">{{tline}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <textarea data-ng-model="sendMessageText" data-ng-disabled="tmpMessageText !== ''" class="form-control message-input" rows="1" id="messageInput" placeholder="Send a message"></textarea>
                            <span class="input-group-btn">
                                <button data-ng-click="insertReceipt()" data-ng-disabled="!selected.receipt.isSaved" class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-list-alt"></span><span class="hidden-xs"> Insert receipt</span>
                                </button>
                                <button
                                        data-ng-click="sendMessage()"
                                        data-ng-disabled="selected.state === 'completed'"
                                        data-loading-text="Sending..."
                                        class="btn btn-success"
                                        id="sendMsgBtn"
                                        type="button">
                                    <span class="glyphicon glyphicon-send"></span><span class="hidden-xs"> Send</span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="info-tab">
                <div class="panel panel-default tabbed-panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6" data-ng-hide="selected === null">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Customer Info</div>
                                    <div class="panel-body">
                                        <div>
                                            <label>Name </label> <span class="indent">{{getCustomer().name}}</span>
                                        </div>
                                        <div data-ng-show="getCustomer().phone !== null">
                                            <label>Phone number </label> <span class="indent">{{getCustomer().phone}}</span>
                                        </div>
                                        <div data-ng-show="getCustomer().email !== null">
                                            <label>Email </label> <span class="indent">{{getCustomer().email}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" data-ng-controller="tranStatCtrl" data-ng-hide="selected === null">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Transaction</div>
                                    <div class="panel-body">
                                        <div class="dropdown v-space">
                                            <label>State </label>
                                            <button class="btn btn-default dropdown-toggle indent" type="button" data-toggle="dropdown">
                                                {{selected.state}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu indent">
                                                <li data-ng-repeat="state in getStates()">
                                                    <a href data-ng-click="setState(state)">{{state}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="dropdown v-space">
                                            <label>Assigned </label>
                                            <button class="btn btn-default dropdown-toggle indent" type="button" data-toggle="dropdown">
                                                {{getLoggedInDelegator().name}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu indent">
                                                <li data-ng-repeat="dlg in getDelegators()">
                                                    <a href data-ng-click="reassign(dlg.id)">{{dlg.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <label>Started </label><span class="indent">{{getDateString()}}</span>
                                        </div>
                                        <div>
                                            <label>Paid </label><span class="indent">{{isPaidFor()}}</span>
                                        </div>
                                        <div data-ng-show="selected.receipt.isSaved">
                                            <label>Payment URL </label><span class="padded" style="word-wrap:break-word">{{selected.paymentUrl}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" data-ng-hide="selected === null">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Receipt</div>
                                    <table class="table">
                                        <tbody>
                                            <tr data-ng-show="getReceipt().items.length === 0" class="text-muted"><td>Receipt is empty</td></tr>
                                            <tr data-ng-repeat="item in getReceipt().items">
                                                <td>{{item.name}}</td>
                                                <td>${{item.cost}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="panel-body">
                                        <div data-ng-hide="getReceipt().notes.trim() == ''">
                                            <label>Notes</label>
                                            <pre style="word-wrap:normal">{{getReceipt().notes}}</pre>
                                        </div>
                                        <div data-ng-hide="getReceipt().total === null"><label>Total:</label> ${{getReceipt().total / 100|number:2}}</div>
                                    </div>
                                    <div class="panel-footer">
                                        <button data-ng-disabled="!canEdit()" class="btn btn-success" type="button" data-toggle="modal" data-target="#EditReceiptModal"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default" data-ng-controller="pastTransactionCtrl">
                                    <div class="panel-heading">Past transactions</div>
                                    <table class="table" style="max-height:200px; overflow-y:scroll;">
                                        <tbody>
                                            <tr data-ng-repeat="tId in getCustomer().transactionIds">
                                                <td class="text-center"><a href data-ng-click="switchToTransaction(tId)">{{getTitle(tId, $index)}}</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditReceiptModal">
    <div class="modal-dialog">
        <div data-ng-controller="receiptModCtrl" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Receipt</h4>
            </div>
            <div class="modal-body">
                <div data-ng-repeat="item in tempReceipt.items" data-ng-controller="receiptItemCtrl" class="form-inline" style="padding-bottom: 10px">
                    <div class="input-group">
                        <span class="input-group-addon">Item name</span>
                        <input data-ng-model="itemName" data-ng-change="onNameChange()" type="text" class="form-control" value="{{item.name}}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input data-ng-model="itemCost" data-ng-change="onCostChange()" type="text" class="form-control" value="{{item.cost}}" style="width:100px">
                    </div>
                    <div class="input-group">
                        <button data-ng-click="deleteItem($index)" type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
                <div>
                    <button data-ng-click="addItem()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span> Add</button>
                </div>
                <div class="input-group" style="padding-top:30px">
                    <span class="input-group-addon">Notes</span>
                    <textarea data-ng-model="tempReceipt.notes" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close without saving</button>
                <button data-ng-click="saveReceipt()" data-ng-disabled="!canSaveReceipt()" id="saveReceiptBtn" class="btn btn-primary" type="button" data-loading-text="Saving...">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
