.ng-cloak {
    display: none;
}

.tabbed-panel {
    border-top: none;
}

.test-mode {
    z-index: 999;
    position: fixed;
    font-weight: bold;
    top: 20px;
    right: 20px;
    background-color: #FFD92F;
    border-radius: 15px;
    padding: 10px;
}

.v-space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.padded {
    margin: 10px;
}

.indent {
    margin-left:15px;
}

.msg {
    padding: 10px;
}

.msg-sent {
    background-color:#DFF0D8;
}

.msg-recv {
    text-align:right;
}

.logout-btn {
    margin-right: 50px;
};



