.test-mode {
    position: absolute;
    font-weight: bold;
    top: 20px;
    right: 20px;
    background-color: #FFD92F;
    border-radius: 15px;
    padding: 10px;
}

.padded {
    margin: 10px;
}

.msg {
    padding: 10px;
}

.msg-sent {
    background-color:#DFF0D8;
}

.msg-recv {
    text-align:right;
}

.logout-btn {
    margin-right: 50px;
};



